{% extends 'base.html.twig' %}
{% block title %} Profil
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {% block menu %}
        {{ parent() }}
    {% endblock %}
    {% block content%}
        <div class="parallax-container">
            <div class="parallax"><img src="{{ asset('bundles/app/img/header_5_select_2.png') }}"></div>
        </div>
        <div class="section">
            <div class="row container">
                <div class="col offset-l1 l10 center">
                    <h4>Editer mon profil</h4>
                    <div class="divider"></div>
                    <img class="responsive-img-center circle marg-t-2" src="{{ asset('uploads/profil_img/' ~ profil_img) | imagine_filter('my_thumb') }}" />
                </div>

                {{ form_start(form, {'method': 'post', 'action': path('profil'), 'attr': {'class': 'col l12 form','enctype':'multipart/form-data'}}) }}
                <div class="col offset-l1 l10 center marg-t-2">
                    {{ form_label(form.imageName,"Photo de profil :") }}
                    {{ form_widget(form.imageName) }}

                </div>
                <div class="col offset-l1 l10 center marg-t-2">
                    {{ form_label(form.nom,"Nom d'artiste :") }}
                    {{ form_widget(form.nom) }}

                </div>
                <div class="col offset-l1 l10 center marg-t-2">
                    {{ form_label(form.description,"Description :") }}
                    {{ form_widget(form.description) }}

                </div>
                <div class="col s12 l12 center marg-t-2">
                    <input class="btn waves-effect black" type="submit" value="Enregistrer" />
                    <a class="btn waves-effect black">Annuler</a>
                </div>
                {{ form_end(form) }}

            </div>
        </div>
        <div class="parallax-container">
            <div class="parallax"><img src="{{ asset('bundles/app/img/header_5_select_2.png') }}"></div>
        </div>
    {% endblock %}
    {% block footer %}
    {% endblock %}
{% endblock %}
{% block lib_javascripts %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
