
<p class="errors" style="text-align: center; margin-bottom: 1em;"></p>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

{{ form_label(form.email,"Email :") }}
{{ form_widget(form.email) }}
{{ form_errors(form.email) }}

{{ form_label(form.plainPassword.first,"Mot de passe :") }}
{{ form_widget(form.plainPassword.first, {'attr': {'pattern': '.{6,}'}}) }}
{{ form_errors(form.plainPassword.first) }}

{{ form_label(form.plainPassword.second,"Confirmez votre mot de passe :") }}
{{ form_widget(form.plainPassword.second, {'attr': {'pattern': '.{6,}'}}) }}
    <div class="col s12 l12 center">
        <input class="btn waves-effect black white-text" type="submit" value="S'inscrire" />
    </div>
{{ form_end(form) }}
