{% extends 'back/dashboard.html.twig' %}
{% block title %}
    Ajouter un art
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {% block menu %}
        {{ parent() }}
    {% endblock %}
    {% block content %}
        <main>
            <div class="row container">
                <div class="col l12">
                    <h2 class="center-align">Ajouter un art</h2>
                    {{ form_start(form, {'method': 'post', 'attr': {'class': 'form marg-t-5'}}) }}
                    <div class="col offset-l3 l6">
                        <div class="input-field">
                            {{ form_label(form.libelle,"Libellé") }}
                            {{ form_widget(form.libelle) }}
                        </div>
                        <div class="input-field">
                            {{ form_label(form.artforms,"Formes d'art") }}
                            {{ form_widget(form.artforms) }}
                        </div>
                    </div>
                    <div class="center-align col l12">
                        <input class="btn waves-effect black center-align" type="submit" value="Ajouter">
                        <a class="btn red" href="{{ path('dashboard_art') }}">Retour</a>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </main>
    {% endblock %}
{% endblock%}
{% block lib_javascripts %}
    {{ parent() }}
{% endblock %}